.chat-container {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-gray);
  border-radius: 17px 17px 0 0;
  height: 80vh;

  .chat-header {
    padding-left: 10px;
    height: 30px;
    background: var(--color-light-gray);
    border-bottom: 1px solid var(--color-gray);
    margin: 0;
    border-radius: 17px 17px 0 0;
  }
}

.chat-input {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 75px;

  * {
    display: inline-block;
    vertical-align: middle;
    border: none;
    margin: 0;
    padding: 0;
    outline: none;
  }

  textarea {
    padding-left: 25px;
    width: 80%;
    font-family: "Open Sans", Verdana, Arial, sans-serif;
    //padding: 4px 6px;
    border: none;
    font-size: 14px;
  }

  button.send {
    width: calc(20% - 5px);
    height: 100%;
    box-shadow: inset 1px 0 0 0 rgba(0, 0, 0, 0.15);
  }

  button.send:hover {
    color: var(--color-primary);
  }
}

.chatbox {
  height: 80vh;
  position: relative;
  background: #eee;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
  overflow-y: auto;

  .message {
    padding: 0 10px;
    position: relative;
    min-height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    background: rgba(255, 255, 255, 0.25);

    b {
      font-weight: bold;
      padding-top: 4px;
      font-size: 16px;
    }

    p {
      font-size: 14px;
      padding: 5px;
      margin: 0;
      vertical-align: middle;
      width: calc(100% - 10px - 48px);
      overflow-wrap: break-word;
      word-wrap: break-word;
      word-break: break-word;
    }
  }

  .them {
    text-align: right;
    background: var(--color-primary);

    b {
      color: #fff;
    }

    p {
      margin-left: 58px;
      color: #fff;
    }
  }
}
