.chat-input {
  border: 1px solid var(--color-gray);

  width: 100%;
  height: 75px;
  display: grid;
  grid-template-columns: 40px 1fr min(100px, 15vw);

  * {
    display: inline-block;
    vertical-align: middle;
    border: none;
    margin: 0;
    padding: 0;
    outline: none;
  }

  textarea {
    padding-top: 5px;
    padding-left: 5px;
    resize: none;
    width: 100%;
    font-family: "Open Sans", Verdana, Arial, sans-serif;
    border: none;
    font-size: 14px;
  }

  button.send {
    height: 100%;
    background-color: var(--color-light-gray);
    border-left: 1px solid var(--color-gray);
  }

  button.send:hover {
    color: var(--color-primary);
  }

  .emoji-toggler {
    &:hover {
      color: var(--color-primary);
    }

    height: 100%;
    background-color: var(--color-light-gray);
  }
}

.chat-container {
  display: flex;
  justify-content: center;
  height: calc(100% - 20px);
}

.chat {
  display: flex;
  flex-direction: column;
  width: 650px;

  .chat-header {
    width: 100%;
    align-self: center;
    border-bottom: 1px solid black;
    padding: 10px;
    margin: 0;
  }

  .chatbox {
    align-self: center;
    height: 100%;
    width: 100%;
    overflow-y: scroll;

    .chat-item {
      display: flex;
      flex-direction: column;

      &__owner {
        .name {
          margin-left: 0;
          margin-right: 7px;
          align-self: end;

          i {
            align-self: end;
            color: var(--color-primary);
          }
        }

        .messages {
          align-self: end;

          .message {
            background: var(--color-primary);
            color: white;
          }
        }
      }
    }

    .name {
      display: flex;
      flex-direction: column;
      height: 29px;
      margin-left: 7px;

      span {
        font-weight: bold;
        padding: 0;
        margin: 0;
        font-size: 14px;
      }

      i {
        color: var(--color-light-gray);
      }
    }

    .messages {
      display: inline-flex;

      .message {
        max-width: 550px;
        padding: 7px 7px;
        border-radius: 7px;
        background: var(--color-light-gray);
        margin: 0 0 3px 0;
        line-height: 1.1rem;
        font-size: 14px;
      }
    }
  }
}
