.chat-panel {
  max-height: 600px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;
  overflow-y: auto;
  margin-bottom: 20px;
  &--small {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.1);
    max-height: 300px;
  }
}

.chat-message {
  display: flex;
  flex-direction: column;
}

.chat-bubble {
  padding: 10px 14px;
  background: #eee;
  margin: 10px 30px;
  border-radius: 9px;
  position: relative;
  max-width: 240px;

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom: 0;
    margin-top: -10px;
  }

  &--left {
    align-self: start;
    &:after {
      left: 0;
      border-right-color: #eee;
      border-left: 0;
      margin-left: -20px;
    }
  }

  &--right {
    align-self: end;
    background: var(--color-primary);
    color: #fff;
    &:after {
      right: 0;
      border-left-color: var(--color-primary);
      border-right: 0;
      margin-right: -20px;
    }
  }
}
