.emoji-control {
  position: absolute;
  z-index: 3;
  summary {
    color: var(--color-gray);
    &::marker {
      content: "";
      font-size: 1.2rem;
    }
  }
  &[open] summary {
    color: #000;
  }

  &__list {
    position: relative;
    top: -450px;
    background: var(--bs-body-bg);
    max-width: min(400px, 80vw);
    height: min(400px, 60vh);
    overflow-y: scroll;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 6px;
    div {
      display: grid;
      grid-template-columns: repeat(6, 1fr);

      p {
        margin: 0;
        padding: 2px;
        text-align: center;
        font-size: 2rem;
        cursor: pointer;
        &:hover {
          box-shadow: 0 0 5px var(--color-primary);
        }
      }
    }
  }
}
