.main-menu {
  background-color: white;
  z-index: 888;
  position: fixed;
  left: 0;
  top: 0;
  width: var(--sidebar-size);
  height: 100vh;
  overflow-y: auto;
  margin-top: calc(var(--header-height) - var(--main-content-padding));
  padding-top: calc(var(--main-content-padding) + var(--main-content-padding));
  transition: left 0.2s ease;

  @media screen and (max-width: 790px) {
    &__hidden {
      left: calc(var(--sidebar-size) * -1);
    }
    &:not(&__hidden) {
      box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.4);
    }
  }

  .active,
  .active a {
    color: var(--color-primary);
  }
  details {
    margin-left: 1.2rem;
    summary {
      color: var(--color-gray);

      &::marker {
        content: "→   ";
        font-size: 1.5rem;
      }
    }
    &[open] summary {
      color: #222;
    }

    &[open] summary::marker {
      content: "↓   ";
    }
  }

  .submenu {
    padding-bottom: 2rem;

    li {
      padding-top: 15px;
      padding-bottom: 0;
      a {
        padding-left: 1.6rem;
      }
    }
  }
  ul {
    padding: 0 0 0 14px;
    margin: 0;

    li {
      list-style-type: none;
      padding-bottom: 32px;
      a {
        color: var(--color-gray);
        text-decoration: none;
        width: 100%;
        display: inline-block;
        &:hover {
          color: var(--color-primary);
        }

        i {
          margin: 0 16px;
        }
      }
    }
  }
}
