$primary: #fe5f55;
$body-bg: #fafafb;
$secondary: #ff9900;
:root {
  --sidebar-size: 243px;
  --header-height: 80px;
  --main-content-padding: 20px;
  --color-light-gray: #ebebeb;
  --color-primary: #fe5f55;
  --color-gray: #9a9aa9;
  --color-primary-focus-shadow: rgba(254, 95, 85, 0.2);
  --color-primary-focus-background: rgb(183, 64, 55);
  --bs-font-sans-serif: "Nunito", sans-serif;
}

@media screen and (max-width: 790px) {
  :root {
    --header-height: 50px;
  }
}

body {
  overflow: hidden;
}

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import "./bootstrapReset.scss";
@import "./auth.scss";
@import "./header.scss";
@import "./mainMenu.scss";
@import "./content.scss";
@import "./diagramConstructor.scss";
@import "./chat.scss";
@import "./task.scss";
@import "./cards.scss";
@import "./chart.scss";
