.task-container {
  .chat {
    width: auto;
    .chatbox {
      height: auto;
      overflow-y: auto;
    }
  }
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  &--1 {
    grid-template-columns: 1fr 1fr;
  }
  gap: 30px;
  margin-bottom: 20px;
  @media screen and (max-width: 900px) {
    grid-template-columns: 1fr;
  }
  button {
    margin-bottom: 10px;
    width: 100%;
    a {
      text-decoration: none;
      color: white;
    }
  }
  a {
    text-decoration: none;
    margin-bottom: 10px;
    width: 100%;
    justify-self: center;
  }
}

.task-form {
  display: flex;
  gap: 30px;
  flex-direction: column;
  @media screen and (max-width: 790px) {
    height: 135px;
    overflow-y: scroll;
    background: white;
  }

  &__block {
    > label {
      font-weight: 500;
    }
  }
  &__variants {
    display: flex;
    gap: 20px;
  }
}
