.avatar {
  vertical-align: middle;
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.navbar a {
  color: var(--color-gray);
}
.navbar a:hover {
  color: var(--color-primary);
}

.header{
  background: white;
  border-bottom: #CDCDCD solid 1px;
}
.sidebar {
  min-width: 243px;
  max-width: 243px;
  box-shadow: 0px -8px 0px 0px rgb(255, 255, 255);
  border-top: white 4px solid;
  height: calc(100vh - var(--header-height));
  transition: all 0.25s;
  overflow-y: auto
}

@media screen and (max-width: 770px) {
  .sidebar {
    z-index: 9999;
    position: absolute
  }
  .username{
    display: none;
  }
  .logo{
    display: none;
  }
}

.sidebar ul {
  margin-left: 30px;
}

.sidebar ul li a {
  font-weight: bold;
  font-size: 90%;
  display: block;
  padding: .8rem;
  color: var(--color-gray);
  text-decoration: none;
}

.sidebar ul li a:hover,
.sidebar ul .active a {
  color: var(--color-primary);
}
.sidebar ul i {
  margin-right: .5em;
}

.sidebar ul ul a:hover {
  background: var(--bs-body-bg);
  color: var(--color-primary);
}

.sidebar [data-toggle="collapse"] {
  position: relative
}

.sidebar [aria-expanded="true"] {
  background: white;
}

.sidebar.hidden {
  margin-left: -250px
}

.content {
  width: 100%;
  height: calc(100vh - var(--header-height));
  overflow-y: auto
}
img {
  margin: 0 20px;
}

.sidebar-toggle {
  padding-left: 38px;
}

.logout {
  margin: 10px 20px;
}